/*global*/

a {
  letter-spacing: 2px;
  font-size: 15px;
}

/*global*/

/*company logo*/

.logo {
  width: 300px;
  margin-left: 20px;
  height: auto;
  margin-top: 20px;
  text-align: center;
}

.logo img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.company-logo img {
  max-width: 50%;
  height: auto;
  margin-left: 150px;
}

/*company logo*/
