/*global*/

a {
  letter-spacing: 2px;
  font-size: 15px;
}

/*global*/

/*company logo*/

.logo {
  width: 300px;
  margin-left: 20px;
  height: auto;
  margin-top: 20px;
  text-align: center;
}

.logo img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.company-logo img {
  max-width: 50%;
  height: auto;
  margin-left: 150px;
}

/*company logo*/

/*side bar*/

.aside {
  background-color: #260132;
  color: white;
  background: linear-gradient(#260132, white);
}

.Content ul li {
  text-decoration: none;
}

ul#side li {
  text-decoration: none;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

ol li a {
  color: purple;
  font-weight: 500;
}

.abt {
  color: #260132;
}

.abt a {
  text-decoration: none;
  color: #991EC1;
}

/*side bar*/
/*main*/

#instructions {
  text-decoration: underline;
  color: #260132;
  font-weight: 800;
}

/*main*/
/*instructions*/

.inst {
  font-size: 20px;
}

.inst a {
  font-weight: 800;
  color: purple;
  font-size: 25px;
}

/*instructions*/
